@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0e0e0f3;

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        box-sizing: border-box;

        .container-card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: white;
            width: calc(100vw - 30px);
            max-width: 400px;
            height: 100vh;
            max-height: 500px;
            gap: 1rem 1rem;
            border-radius: 12px;
            // box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

            section:nth-child(1) {
                display: grid;
                place-content: center;
                width: inherit;
                max-width: 400px;
                height: 100vh;
                max-height: 400px;
                background: linear-gradient(135deg, #4A90E2, #005bea);
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                border-bottom-left-radius: 80px;
                border-bottom-right-radius: 80px;

                img {
                    border: white 2px solid;
                    border-radius: 50%;
                    width: 120px;
                    height: 120px;
                    object-fit: cover;
                    filter: grayscale(50%);
                }
            }

            section:nth-child(2) {
                position: relative;
                padding: 1rem 1rem;
                display: grid;
                place-items: center;
                gap: 10px 10px;
                text-align: center;
                font-family: 'Poppins', sans-serif !important;
                font-style: normal;

                h1 {
                    text-transform: capitalize;
                    font-size: 1.8rem;
                    font-weight: 700;
                }

                .description-card {
                    flex-wrap: wrap;
                    padding: 0.8rem 0.8rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 0.8rem 0.8rem;

                    p {
                        display: inline;
                        font-size: 1rem;
                        color: #908E9B;
                        line-height: 1.2rem;

                        span {
                            text-transform: capitalize;
                            font-weight: 600;
                        }
                    }

                    hr {
                        border: none;
                        height: 1px;
                    }

                    .social-container {
                        flex-wrap: nowrap;
                        display: flex;
                        gap: 1rem 1rem;

                        i {
                            font-weight: 400;
                            color: #908E9B;
                            font-size: 30px;
                            transition: ease-in-out 0.3s;
                        }

                        i:hover {
                            color: #0077B6;
                            transform: rotate(20deg);
                        }

                    }

                }

                button {

                    display: flex;
                    align-items: center;
                    gap: 0.1rem 0.1rem;
                    font-family: Arial, sans-serif;
                    cursor: pointer;
                    background-color: none;
                    padding: 0.6rem 1rem;
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    text-transform: capitalize;
                    font-size: 15px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    border: 2px solid #908E9B;
                    margin-block-end: 1rem;

                    i {
                        margin-inline-start: 2px;
                        font-size: 15px;
                    }
                }

                button:hover {
                    font-weight: 500;
                    background-color: #0077B6;
                    color: white;
                    box-shadow: 0 7px 29px 0px #0077B6;
                    border: 2px solid transparent;
                    transition: all ease 0.3s;
                }

                button:active {
                    font-weight: 300;
                    transition: all ease 0.3s;
                    transform: translateY(5px);
                    box-shadow: #0077B6 0 0 0 0;
                }
            }
        }
    }
}